.AddCart {
  margin-top: -1.7rem;
  margin-left: 20rem;
  &__button {
    padding-left: 30rem;
    border-radius: 25px;
    width: 100px;
    transform: translateY(-50%);
    padding: 0.4rem 0.4rem;

    color: white;
    font-style: italic;
    font-weight: bolder;
    background-color: #ad461d;
  }
  &__button:hover,
  &__button:active {
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
  }
}
