.headerButton {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #5f2b16;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  height: 3rem;
  margin-right: 1rem;
  &:hover,
  :active {
    background-color: #88624f;
  }
  &__name {
    color: aliceblue;
  }
  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-left: 0.2rem;
    margin-right: 0.5rem;
  }
  &__badge {
    background-color: #da997f;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    margin-right: 0.5rem;
    font-weight: bold;
  }
  &__badge:hover {
    background-color: #d27d5b;
  }
}
